$plus-font: "Plus Jakarta Sans", serif;
$playfair-font: "Playfair Display", sans-serif;
$black-color: #121212;
$white-color: #ffffff;
$red-color: #b1454a;

body {
  font-family: $plus-font;
  font-size: 16px;
  color: $black-color;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
